blinker==1.4
boto3==1.13.1
Flask==1.1.2
Flask-Dance==3.0.0
Flask-SeaSurf==0.2.2
Flask-SQLAlchemy==2.4.1
flask-talisman==0.7.0
gunicorn==20.0.4
psycopg2-binary==2.8.5
python-dotenv==0.15.0
tweepy==3.8.0
wordcloud==1.6.0
