{% extends "base.html" %}
{% block body %}
<br>
<div class="result">
  <img src="https://res.cloudinary.com/hellorusk/image/upload/v1611155857/loading.svg"> ワードクラウドを作成中....
</div>
<br>
<img class="generated" width="100%"/>

<br>
<br>

<div class="border border-light p-3 mb-4 saved" style="display: none;">
  <div class="text-center">
    <form method="post" name="saveform" action="/save">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>
    <button type="button" class="btn btn-primary"><a href="javascript:saveform.submit()"><h3>画像を保存する</h3></a></button>
    <br>
    作成した画像をいつでも見返せるようになります。
  </div>
</div>

<div class="border border-light p-3 mb-4 tweet" style="display: none;">
  
  <div class="text-center">
    {% if twitter_authorized %}
      <form method="post" name="tweetform" action="/tweet">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      </form>
      <button type="button" class="btn btn-primary"><a href="javascript:tweetform.submit()"><h3 style="color:blue">ツイートする！</h3></a></button>
    {% else %}
      <button type="button" class="btn btn-primary"><a href="/twitter_auth"><h3>Twitter と連携する</h3></a></button>
      <br>
      画像をツイートするには Twitter との連携が必要です。<br><br>
      ※ 連携画面でやたら権限を要求しているように見えますが、これは Twitter 認証の仕様です。<br>
      当アプリでは「ツイートの送信」以外は一切使いません。<br>
      （参考: <a href="https://twitter.com/fusetter/status/938938163044556801">Twitter 認証の仕様に関して分かりやすいツイート</a>）
    {% endif %}
  </div>

</div>

<div class="border border-light p-3 mb-4">
  <div class="text-center">
    <button type="button" class="btn btn-primary"><a href="/history"><h3>過去に作成した画像</h3></a></button>
  </div>
</div>
<br/>

<div class="border border-light p-3 mb-4">

  <div class="text-center">
    <button type="button" class="btn btn-primary"><a onclick="logout()"><h4>ログアウト</h4></a></button>
  </div>

</div>
<script src="/static/js/authorized.js"></script>
{% endblock %}
