{% extends "_base.html" %}
{% block body %}
<br/>
<h1>あなたが最近よく聴いているアーティストの名前からワードクラウドを作るアプリです。</h1>
<h4>例えば、こんなワードクラウドが作れます。</h4>
<br/>
<img src="https://res.cloudinary.com/hellorusk/image/upload/f_auto,q_auto,w_900/v1611156028/top" class="img-fluid mx-auto d-block">
<br/>
<br/>
<h4>ワードクラウドをその場でツイートすることもできます。</h4>
<br/>
<img src="https://res.cloudinary.com/hellorusk/image/upload/f_auto,q_auto,w_700/v1611236017/tweet" class="img-fluid mx-auto d-block">
<br/>
<br/>
<h4>ワードクラウドを保存して、あとから見返すこともできます。</h4>
<br/>
<img src="https://res.cloudinary.com/hellorusk/image/upload/f_auto,q_auto,w_1000/v1611287976/history_browse" class="img-fluid mx-auto d-block">
<br/>
<br/>
<br/>
<h2>Spotify WordCloud を使って、好きな音楽で自己紹介してみませんか？</h2>
<div class="border border-light p-3 mb-4">

  <div class="text-center">
    <button type="button" class="btn btn-primary"><a href="/login"><h3>いますぐ始める</h3></a></button>
  </div>

</div>
<br/>
<br/>
<br/>
{% endblock %}
